.container {
  border: solid 1px #dfe1e5;
  border-radius: 15px;
  color: #878787;
  display: flex;
  margin: 10px 20%;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 5% 5% 5% 10%;
  font-size: 25px;
}

.place {
  font-size: 45px;
  line-height: 180%;
}

.desc {
  font-size: 20px;
}

.icon-container {
  display: flex;
  padding: 50px;
}

.icon {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.temp span {
  color: #000;
  font-size: 70px;
  line-height: 150px;
}
